<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
  <h1>Add a new student</h1>
  <p>Please enter first name, last name and GitHub username for student to add.</p>

  <form action="/student-add" method="POST">
    First name:<input type="text" name="first_name"></input><br>
    Last name:<input type="text" name="last_name"></input><br>
    GitHub Username:<input type="text" name="github"></input><br>
    <input type="submit" value="Add Student">
  </form>
</body>
</html>